@import './modules/variables.css';
@import './modules/hero.css';
@import './modules/animation.css';


.body {
    background-image: linear-gradient(var(--primary-theme-color), var(--secondary-theme-color));
    color: var(--primary-text-color);
    font-family: monospace;
    min-height: 100vh;
    margin: 0;
}