/* Error: Undefined mixin.
 *    ,
 * 17 | /     @include desktop{
 * 18 | |         left: 0;
 * 19 | \     }
 *    '
 *   styles\scss\modules\_header.scss 17:5  @import
 *   styles\scss\fe.scss 3:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c      @include desktop{\a 18 \2502  \2502          left: 0;\a 19 \2502  \2514      }\a    \2575 \a   styles\\scss\\modules\\_header.scss 17:5  @import\a   styles\\scss\\fe.scss 3:9                root stylesheet";
}
